/********* VARIABLES *********/
:root {
	--navbar-text-color: #ad3f50;
	--navbar-text-color-sec: #959595;
	--navbar-bg-color: #1e1e1e;
	--navbar-bg-color-rgb: 30, 30, 30;
	--flag-shadow-color: #5e5e5e;
	--border-color: #cacaca;
	--header-height: 80px;
	--dark-mode-color: #161616;
	--toggler-bg-dark-color: #313131;
	--toggler-bg-light-color: #b7b7b7;
	--nav-link-border-width: 3px;
	--opacity: 0.75;

	/* DARK THEME */
	--dark-theme-primary-text-color: #fff;
	--dark-theme-secondary-text-color: #b7b7b7;
	--dark-theme-secondary-hover-color: #ad3f50;
	--dark-theme-bg-pri-color: #c6132d;
	--dark-theme-bg-sec-color: #313131;
	--dark-theme-team-a-color: #a059e2;
	--dark-theme-team-b-color: #43b3e7;

	--loader-color: #dcdcdc;
}
.light-theme {
	--navbar-text-color: #ad3f50;
	--navbar-text-color-sec: #363636;
	--navbar-bg-color: #ffffff;
	--navbar-bg-color-rgb: 255, 255, 255;
	--flag-shadow-color: #5e5e5e;
	--border-color: #cacaca;
	--header-height: 80px;
	--dark-mode-color: #afafaf;
	--toggler-bg-dark-color: #313131;
	--toggler-bg-light-color: #b7b7b7;
	--nav-link-border-width: 3px;

	/* DARK THEME */
	--dark-theme-primary-text-color: #000000;
	--dark-theme-secondary-text-color: #717171;
	--dark-theme-secondary-hover-color: #ad3f50;
	--dark-theme-bg-pri-color: #c6132d;
	--dark-theme-bg-sec-color: #959090;
	--dark-theme-team-a-color: #a059e2;
	--dark-theme-team-b-color: #43b3e7;

	--loader-color: #161616;
}
/********* GENERAL *********/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
}
html {
	font-size: 20px;
}

/* app container */
.app-container {
	background-image: url("/src/images/bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	min-height: 100vh;
}

/********* HEADER *********/
header {
	height: 4rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	height: var(--header-height);
	padding: 0 3rem;

	background-color: rgba(var(--navbar-bg-color-rgb), var(--opacity));
}
header a:visited {
	text-decoration: none;
}

/* menu btn */
header .menu {
	display: none;
	height: 1.4rem;
	width: 1.75rem;
}
header .menu #nav-icon {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

header .menu #nav-icon span {
	display: block;
	position: absolute;
	height: 0.25rem;
	width: 100%;
	background: var(--dark-theme-primary-text-color);
	border-radius: 0.4rem;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

header .menu #nav-icon span:nth-child(1) {
	top: 0px;
}

header .menu #nav-icon span:nth-child(2) {
	top: 0.6rem;
}

header .menu #nav-icon span:nth-child(3) {
	top: 1.15rem;
}

header .menu #nav-icon.open span:nth-child(1) {
	top: 0.6rem;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

header .menu #nav-icon.open span:nth-child(2) {
	opacity: 0;
	left: -3rem;
}

header .menu #nav-icon.open span:nth-child(3) {
	top: 0.6rem;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/* LOGO */
header .logo {
	display: flex;
	align-items: center;

	color: var(--dark-theme-primary-text-color);
	font-size: 1.2rem;
	font-weight: bolder;
}
header .logo img {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.25rem;
}

/* NAV */
nav ul {
	padding: 0;
	margin: 0;

	display: flex;
}
nav ul li {
	list-style: none;
	margin: 0 1rem;
}
nav ul li a {
	display: flex;

	justify-content: center;
	align-items: center;

	text-decoration: none;
	color: var(--navbar-text-color-sec);
	transition: 150ms color ease-in-out;

	height: calc(var(--header-height) - var(--nav-link-border-width));

	font-size: 1rem;
}
nav ul li a:hover {
	text-decoration: none;
	color: var(--navbar-text-color);
}
nav ul li a.active {
	color: var(--navbar-text-color);
	border-bottom: var(--nav-link-border-width) solid var(--navbar-text-color);
}
nav ul li a i {
	margin-right: 0.25rem;
	font-size: 1.2rem;
}

/* theme toggler */
.theme-toggler .switch {
	position: relative;
	display: inline-block;
	width: 3.25rem;
	height: 1.75rem;
}

.theme-toggler .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.theme-toggler .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--toggler-bg-light-color);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.theme-toggler .slider:before {
	position: absolute;
	content: "";
	height: 1.4rem;
	width: 1.4rem;
	left: 0.3rem;
	bottom: 0.2rem;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.theme-toggler input:checked + .slider {
	background-color: var(--toggler-bg-dark-color);
}

.theme-toggler input:checked + .slider:before {
	-webkit-transform: translateX(1.5rem);
	-ms-transform: translateX(1.5rem);
	transform: translateX(1.5rem);
}
.theme-toggler .slider.round {
	border-radius: 1.7rem;
}

.theme-toggler .slider.round:before {
	border-radius: 50%;
}
.theme-toggler .slider.round i {
	position: absolute;
}
.theme-toggler .slider .light {
	left: 0.5rem;
	top: 0.35rem;
	opacity: 1;
	transition: opacity 500ms ease-in-out;
}
.theme-toggler input:checked + .slider .light {
	opacity: 0;
}
.theme-toggler .slider .dark {
	right: 0.35rem;
	top: 0.34rem;
	opacity: 0;
	transition: opacity 500ms ease-in-out;
}
.theme-toggler input:checked + .slider .dark {
	opacity: 1;
}

/****** CONTAINER *******/
.container {
	min-height: calc(100vh - var(--header-height));
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	padding: 1rem;
	color: var(--dark-theme-primary-text-color);
}
.left {
	grid-area: l;
}
.main {
	grid-area: m;
}
.right {
	grid-area: r;
}
/* LEFT MAIN RIGHT*/
.container .left,
.container .main,
.container .right {
	background-color: rgba(var(--navbar-bg-color-rgb), var(--opacity));
	margin: 1rem 0.5rem;
	border-radius: 0.5rem;
}
/* live matches */
.livematches {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: auto;

	max-height: calc(100dvh - var(--header-height));
}
.livematches .matches {
	width: 100%;
}
.livematches .matches .league-matches {
	margin: 3rem 0;
}
.livematches .matches .league {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}
.livematches .matches .league .logo img {
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.5rem;
}
.livematches .matches .match {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.25rem;
	border-radius: 0.5rem;
}
.livematches .matches .match:hover {
	background-color: var(--dark-theme-primary-text-color);
	color: var(--navbar-bg-color);
}
.livematches .matches .match:hover > .status {
	color: var(--navbar-bg-color);
	border-color: var(--navbar-bg-color);
}
.livematches .matches .match .status {
	font-size: 0.75rem;
	padding: 0.25rem;
	margin: 0 0.5rem;
	color: var(--dark-theme-primary-text-color);
	border: 0.25px solid var(--dark-theme-primary-text-color);
	border-radius: 0.25rem;
	min-width: 4rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
.livematches .matches .match .status.red {
	color: var(--dark-theme-bg-pri-color);
	border: 0.25px solid var(--dark-theme-bg-pri-color);
}
.livematches .matches .match .result {
	width: 100%;
	display: flex;
	align-items: center;

	padding: 0.5rem 0;
}
.livematches .matches .match .result .score {
	margin: 0 0.5rem;
	min-width: 2.25rem;
}
.livematches .matches .match .result img {
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0.5rem;
}
.livematches .matches .match .result .home-team {
	width: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: end;
}
.livematches .matches .match .result .away-team {
	width: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: start;
}
.livematches .matches .match .result .name {
	text-align: center;
}

/* TRENDING */
.trending .header {
	padding: 0.75rem 0.75rem;
	font-size: 1.2rem;
}
.trending .posts {
	padding: 0 1rem;
}
.trending .posts .featured a {
	text-decoration: none;
	font-size: 1rem;
	color: var(--dark-theme-secondary-text-color);
}
.trending .posts .featured a:hover {
	text-decoration: none;
	color: var(--dark-theme-secondary-hover-color);
}
.trending .posts .featured a img {
	width: 100%;
	border-radius: 0.4rem;
}
.trending .posts .list {
	margin: 1rem 0;
}
.trending .posts .list ul {
	margin: 0;
	padding: 0.5rem 0.5rem;
}
.trending .posts .list ul li {
	list-style-type: none;
	margin: 1rem 0;
}
.trending .posts .list ul li a {
	display: flex;
	align-items: center;

	text-decoration: none;
	color: var(--dark-theme-secondary-text-color);
	font-size: 0.9rem;
}
.trending .posts .list ul li a:hover {
	color: var(--dark-theme-secondary-hover-color);
}
.trending .posts .list ul li a .title {
	height: 3.5rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.3;
}
.trending .posts .list ul li a img {
	width: 4rem;
	height: 3.5rem;
	border-radius: 5px;

	margin-right: 0.5rem;
}

/* HOME */
.home {
	width: 100%;
}
.home .filter {
	display: flex;
	padding: 1rem;
}
.home .filter .btn {
	background-color: var(--dark-theme-bg-sec-color);
	color: var(--dark-theme-secondary-text-color);
	padding: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 1rem;
	min-width: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.home .filter .btn.active,
.home .filter .btn:hover {
	color: var(--dark-theme-primary-text-color);
	background-color: var(--dark-theme-bg-pri-color);
}
.home .list {
	width: 100%;
	padding: 1rem;
}
.home .list .league .header {
	display: flex;
	align-items: center;
}
.home .list .league .header img {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.75rem;
}
.home .list .league .header .name {
	display: flex;
	flex-direction: column;

	font-size: 1rem;
}
.home .list .league .header .name span {
	font-size: 0.8rem;
	margin-top: 0.25rem;

	color: var(--dark-theme-secondary-text-color);
}
.home .list .league .matches {
	max-width: 100%;
	margin-top: 1rem;
}
.home .list .league .matches .match {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	border: 1px solid var(--dark-theme-bg-sec-color);

	padding: 0.5rem;
	font-size: 0.9rem;
}
.home .list .league .matches .match img {
	width: 1.5rem;
	height: 1.5rem;
}
.home .list .league .matches .match .teamA,
.home .list .league .matches .match .teamB {
	margin: 0 0.5rem;
}
.home .list .league .matches .match .teamA,
.home .list .league .matches .match .teamB {
	display: flex;
	align-items: center;
}
.home .list .league .matches .match .teamA img {
	margin-right: 0.5rem;
}
.home .list .league .matches .match .teamB img {
	margin-left: 0.5rem;
}
.home .list .league .matches .match .score {
	display: flex;
	align-items: center;

	padding: 0.25rem;
	margin: 0 1rem;
	border-radius: 2rem;
	background-color: var(--dark-theme-bg-sec-color);

	font-size: 0.9rem;
}
.home .list .league .matches .match .time {
	margin-right: 1rem;
}
.home .list .league .matches .match .predict {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 1.6rem;
	height: 1.6rem;
	margin-left: 1rem;

	background-color: var(--dark-theme-bg-sec-color);
	color: var(--navbar-bg-color);

	padding: 0.25rem;
	border-radius: 100%;
	cursor: pointer;
}
.home .list .league .matches .match .predict:hover {
	background-color: var(--dark-theme-bg-pri-color);
}

/* HIDE */
.hide {
	display: none !important;
	visibility: hidden !important;
}
.hide * {
	display: none !important;
	visibility: hidden !important;
}

/* CSS LOADER */
.lds-ring {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	height: 4rem;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 1.7rem;
	height: 1.7rem;
	margin: 0.4rem;
	border: 0.2rem solid var(--loader-color);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--loader-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* RESPONSIVE */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}
	/* header */
	header {
		justify-content: space-between;
		padding: 0 2rem;
	}
	header a .logo img {
		width: 2rem;
		height: 2rem;
	}
	header .menu {
		display: block;
		color: var(--dark-theme-primary-text-color);
		font-size: 1.3rem;
		cursor: pointer;
	}
	/* theme toggler */
	.theme-toggler .switch .slider .dark {
		top: 0.42rem;
		right: 0.35rem;
		font-size: 0.9rem;
	}
	.theme-toggler .switch .slider .light {
		top: 0.42rem;
		left: 0.55rem;
		font-size: 0.9rem;
	}
	/* container */
	.container {
		grid-template-areas:
			"m m m m m m m m m m m m"
			"l l l l l l l l l l l l"
			"r r r r r r r r r r r r";
	}

	/* nav */
	header {
		position: relative;
	}
	header nav {
		width: 80%;
		height: auto;

		display: block;
		position: absolute;

		top: var(--header-height);
		left: -80%;

		background-color: var(--dark-theme-bg-sec-color);
		border: 1px solid var(--dark-mode-color);
		border-radius: 0.25rem;

		z-index: 2;

		transition: left 300ms ease-in-out;
	}
	header nav.open {
		left: 0;
	}
	header nav ul {
		width: 100%;
		flex-direction: column;
	}
	nav ul li {
		width: 100%;
		margin: 0;
	}
	nav ul li a {
		height: auto;
		padding: 1rem;
		margin: 0.5rem;

		font-size: 1.75rem;

		justify-content: start;
	}
	nav ul li a i {
		font-size: 1.5rem;
		margin-right: 0.75rem;
	}
	nav ul li a.active {
		border-bottom: none;
		border-right: var(--nav-link-border-width) solid var(--navbar-text-color);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	html {
		font-size: 16px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* container */
	.container {
		grid-template-areas:
			"l l l l l l m m m m m m"
			"r r r r r r r r r r r r";
	}

	/* trending */
	.trending .header {
		padding: 0.75rem 0.75rem;
		font-size: 1.2rem;
	}
	.trending .main {
		display: flex;
		justify-content: start;
		align-items: start;
	}
	.trending .main .featured {
		width: 45%;
	}
	.trending .main .list {
		width: 55%;
	}
	.trending .main .featured a {
		text-decoration: none;
		font-size: 1rem;
	}
	.trending .main .list {
		margin: 0 0.5rem;
		padding: 0;
	}
	.trending .main .list ul {
		margin: 0;
		padding: 0;
	}
	.trending .main .list ul li {
		margin: 0 0 0.5rem 0;
	}
}

/* Large devices (laptops/desktops, 1100px and up) */
@media only screen and (min-width: 1100px) {
	.container {
		grid-template-areas: "l l l l l m m m m r r r";
	}
	/* trnding */
	.trending .main {
		display: flex;
		flex-direction: column;
	}
	.trending .main .featured {
		width: 100%;
	}
	.trending .main .list {
		width: 100%;
	}
	.trending .main .list {
		margin: 1rem 0;
	}
	.trending .main .list ul {
		margin: 0;
		padding: 0.5rem 0.5rem;
	}
	.trending .main .list ul li {
		margin: 1rem 0;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container {
		grid-template-areas: "l l l l m m m m m r r r";
	}
}

/* Extra large devices (large laptops and desktops, 1450px and up) */
@media only screen and (min-width: 1450px) {
	.container {
		grid-template-areas: "l l l l m m m m m r r r";
	}
}
